.root {
	-fx-primary: #393939;
    -fx-light-text-color: white;
}
.button {
    -fx-background-color: 
        -fx-primary,
        transparent,
        transparent,
        linear-gradient(derive(-fx-primary, 40%), derive(-fx-primary, 30%), derive(-fx-primary, 30%), derive(-fx-primary, 40%));
    -fx-effect: dropshadow( three-pass-box , rgba(217,217,217,0.2) , 1, 0.0 , 0 , 1);
    -fx-font-family: "Gaduci";
    -fx-font-size: 0.625em;
    -fx-text-fill: -fx-light-text-color;
}

.root{
    -fx-background-color: -fx-primary;
}
.label{
    -fx-text-fill: black;
}
