.root {
	  -fx-primary:#393939;
    -fx-dark-border-color: darkgrey;
    -fx-mid-border-color: grey;
    -fx-light-border-color: white;

    /* One of these colors will be chosen based upon a ladder calculation
 * that uses the brightness of a background color.  Instead of using these
 * colors directly as -fx-text-fill values, the sections in this file should
 * use a derived color to match the background in use.  See also:
 *
 * -fx-text-base-color for text on top of -fx-base, -fx-color, and -fx-body-color
 * -fx-text-background-color for text on top of -fx-background
 * -fx-text-inner-color for text on top of -fx-control-inner-color
 * -fx-selection-bar-text for text on top of -fx-selection-bar
 */
    -fx-dark-text-color: black;
    -fx-mid-text-color: #292929;
    -fx-light-text-color: white;
    -fx-background-color: -fx-primary;
    /*-fx-padding: 0 3 3 3;*/
    -fx-border-color:  -fx-dark-border-color;

}
