.root {
	-fx-primary: #393939;
}

.anchorPane {
    -fx-background-color: yellow;
}
.addFolderName_input {
    -fx-background-color: lightgray;
}

.bottomPane_buttons {
    -fx-background-color: -fx-primary;
}

.button{
    -fx-background-color: linear-gradient(to bottom, gray, darkgray);
    -fx-background-radius: 3 3 3 3;
    -fx-border-color: black;
    -fx-border-radius: 3 3 3 3;
}

.button:hover {
    -fx-background-color: linear-gradient(#2A5058,#61a2b1);
}

.context-menu {
    -fx-background-color: orange;
    -fx-text-fill: whitesmoke;
}
.label {
    -fx-text-fill: white;
}
.filePathInput {
    -fx-background-color: red;
}
.folderName {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-border-color: yellow;
    -fx-border-width: 4px;
    -fx-padding: 1 1 1 1;
}

.imageFrame {
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-width: 2.0px;
}

.imageViewFrame {
    -fx-border-color: white;
    -fx-border-width: 2.0px;
}

.image_stackPane {
    -fx-border-color: white;
    -fx-border-width: 2.0px;
}

.imageFileSelected {
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-width: 2.0px;
}
.imageFileDeSelected {
    -fx-background-color: black;
    -fx-border-color: red;
    -fx-border-width: 2.0px;
}

.node-select {
    -fx-effect: dropshadow(three-pass-box, yellowgreen, 10, 10, 0, 0);
}
.node-deselect {
    -fx-effect: null;
}
.parentButton {
    -fx-background-color: transparent;
    -fx-background-radius: 3.0 3.0 3.0 3.0;
    -fx-border-color: black;
    -fx-border-radius: 3.0 3.0 3.0 3.0;
    -fx-border-width: 2.0px;   
}

.rootFolder_Input {
    -fx-background-color: orange;
    -fx-background-radius: 3.0 3.0 3.0 3.0;

    -fx-border-color: grey;
    -fx-border-radius: 3.0 3.0 3.0 3.0;
    -fx-border-width: 2.0px;   
}

.toggleButtonBar {
    -fx-background-color: darkgray;
    -fx-border-color: lightgray;
    -fx-border-width: 2.0px;
}

.toggleBtn {
    -fx-background-color: linear-gradient(to bottom, gray, darkgray);
    -fx-background-radius: 3 3 3 3;
    -fx-border-color: black;
    -fx-border-radius: 3 3 3 3;
    -fx-border-width: 2.0px;   
}
.toggleBtn:hover {

    -fx-effect: dropshadow(three-pass-box, #e19e17 ,6,0,0,0);  
    /*-fx-background-color: yellow;*/
    -fx-background-radius: 3.0 3.0 3.0 3.0;
    -fx-text-fill: darkgreen;
    -fx-border-color: lightgray;
    -fx-border-radius: 3.0 3.0 3.0 3.0;
    -fx-border-width: 2.0px;   
}
.toggleBtn:selected {

    -fx-background-color: derive(yellow, 30%);
    -fx-background-radius: 3.0 3.0 3.0 3.0;
    -fx-text-fill: black;
    -fx-border-color: black;
    -fx-border-radius: 3.0 3.0 3.0 3.0;
    -fx-border-width: 2.0px;   
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: derive(#444444, 20%);
    -fx-background-radius: 5;
}
.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: derive(darkgray, 20%);
    -fx-background-radius: 0.2em;
}
.node {
    -fx-focus-traversable: true;
    /*-fx-effect:*/ 
}
.hbox_container {
    -fx-background-color: -fx-primary;
    -fx-border-color: white;
    -fx-border-width: 0.125em;
}
.vf_gridpane {
    /*-fx-background-color:  linear-gradient(to bottom right, grey, whitesmoke);*/
    -fx-background-color: -fx-primary;
    /*-fx-background-color: red;*/
    -fx-padding: 1 1 1 1;
}

.viewAllFiles_hbox {
    -fx-border-color: transparent;
}

.viewAllInCurrentFolder {
    -fx-background-color: orange;
    -fx-background-radius: 2 2 2 2;
    -fx-border-color: grey;
    -fx-border-radius: 2 2 2 2;
}
