
.root {
	-fx-base: #3f3f3f;
    /*-fx-background-color: derive(-fx-base, 90%);*/
    -fx-dark-border-color: derive(-fx-base, 70%);
    -fx-mid-border-color: derive(-fx-base, 50%);
    -fx-light-border-color: derive(-fx-base, 10%);

    /* One of these colors will be chosen based upon a ladder calculation
 * that uses the brightness of a background color.  Instead of using these
 * colors directly as -fx-text-fill values, the sections in this file should
 * use a derived color to match the background in use.  See also:
 *
 * -fx-text-base-color for text on top of -fx-base, -fx-color, and -fx-body-color
 * -fx-text-background-color for text on top of -fx-background
 * -fx-text-inner-color for text on top of -fx-control-inner-color
 * -fx-selection-bar-text for text on top of -fx-selection-bar
 */
    -fx-dark-text-color: black;
    -fx-mid-text-color: #aaaaaa;
    -fx-light-text-color: white;
}

.button {
    -fx-background-color: 
        -fx-base,
        transparent,
        transparent,
        linear-gradient(derive(-fx-base, 40%), derive(-fx-base, 30%), derive(-fx-base, 30%), derive(-fx-base, 40%));
    /*-fx-background-insets: 1;*/
    /*-fx-background-radius: 1;*/
    -fx-effect: dropshadow( three-pass-box , rgba(217,217,217,0.2) , 1, 0.0 , 0 , 1);
    -fx-font-family: "Gaduci";
    -fx-font-size: 14px;
    /*-fx-insets: 0;*/
    /*-fx-padding: 3;*/
    -fx-text-fill: -fx-light-text-color;
}

.borderPane {
	-fx-background-color: -fx-base;
}
.list-view {
	-fx-background-color: -fx-base;
	
}
.list-view .list-cell:even {
	-fx-font-family: "Gaduci";
	-fx-font-size: 14px;
	-fx-text-fill: -fx-light-text-color;
	
}

.list-view .list-cell:odd {
	-fx-font-family: "Gaduci";
	-fx-font-size: 14px;
	-fx-text-fill: -fx-light-text-color;
	
}