
.root {
	-fx-base-background-dark: #393939;
    -fx-base-background-medium: #767676;
    -fx-base-background-light: #b8b8b8;
    -fx-base-background-dark-invert: white;
    -fx-text-color: white;
    -fx-text-background-color_dark: black;
    -fx-text-background-color_light: derive(-fx-base-background-dark, 50.0%);

    -fx-dark-border-color: derive(-fx-base-background-dark, 80%);

    -fx-background-color: -fx-base-background-dark;

	-fx-color: derive(-fx-base-background-light, 20%);
    -fx-box-border: ladder(
        -fx-base-background-dark,
        black 20.0%,
        derive(-fx-color,-15.0%) 30.0%);
    -fx-inner-border-horizontal: linear-gradient(to right, derive(grey,55.0%), derive(-fx-box-border, 10%));
}

.button {
    -fx-background-color: 
        -fx-base-background-dark,
        transparent,
        transparent,
        linear-gradient(derive(-fx-base-background-dark, 40%), derive(-fx-base-background-dark, 30%), derive(-fx-base-background-dark, 30%), derive(-fx-base-background-dark, 40%));
    -fx-effect: dropshadow( three-pass-box , rgba(217,217,217,0.2) , 1, 0.0 , 0 , 1);
    -fx-font-family: "Gaduci";
    -fx-font-size: 0.625em;
    -fx-text-fill: -fx-text-color;
}
.stackPane {
	-fx-background-color: transparent;
}