.root {
	-fx-base: #807c7ca4;
	-fx-dark-border-color: derive(-fx-base, 80%);
	-fx-mid-border-color: derive(-fx-base, 60%);
	-fx-light-border-color: white;

	/* Button basic colors */
	-fx-button-color: #4f4f4f;
	-fx-button-fade-color: #484848;
	-fx-button-border: #a36911;

	/* One of these colors will be chosen based upon a ladder calculation
 * that uses the brightness of a background color.  Instead of using these
 * colors directly as -fx-text-fill values, the sections in this file should
 * use a derived color to match the background in use.  See also:
 *
 * -fx-text-base-color for text on top of -fx-base, -fx-color, and -fx-body-color
 * -fx-text-background-color for text on top of -fx-background
 * -fx-text-inner-color for text on top of -fx-control-inner-color
 * -fx-selection-bar-text for text on top of -fx-selection-bar
 */
	-fx-dark-text-color: black;
	-fx-mid-text-color: #292929;
	-fx-light-text-color: rgb(228, 225, 225);
	-fx-font-family: 'Gaduci';

	-fx-effect: innershadow(three-pass-box, rgba(133, 131, 131, 0.5), 10, 0, 5, 5);
	-fx-font-weight: 900;
	-fx-font-smoothing-type: lcd;
	/*    -fx-background-color: -fx-base; */
	/*-fx-padding: 0 3 3 3;*/
	/*  -fx-border-color:  -fx-dark-border-color; */
}

.bottomBar {
	-fx-background-color: derive(-fx-base, 70%);
}

.button {
	-fx-background-color: -fx-base, transparent, transparent,
		linear-gradient(derive(-fx-base, 40%), derive(-fx-base, 30%), derive(-fx-base, 30%), derive(-fx-base, 40%));
	-fx-effect: dropshadow(three-pass-box, rgba(217, 217, 217, 0.2), 1, 0, 0, 1);
	-fx-font-family: 'Gaduci';
	-fx-font-size: 0.625em;
	-fx-text-fill: -fx-light-text-color;
	-fx-border-color: -fx-base;
	-fx-border-radius: 0.125em;
	-fx-background-radius: 0.125em;
}

.button:hover {
	-fx-background-color: linear-gradient(to bottom, grey, -fx-base);
}
.main_rootPane {
	-fx-background-color: -fx-base;
	-fx-border-color: -fx-dark-border-color;
	-fx-background-insets: 0;
}

.menu-bar {
	-fx-background-insets: 0, 0, 3, 0;
	-fx-background-color: -fx-base;
}
.menu:hover {
	-fx-background-color: red;
}
.menu-bar .label {
	-fx-text-fill: -fx-light-text-color;
	-fx-font-smoothing-type: lcd;
}
.menu-item {
	-fx-background-color: -fx-base;
}
.menu-item .label {
	-fx-text-fill: -fx-light-text-color;
	-fx-font-smoothing-type: lcd;
}
.menu-item:hover .label {
	-fx-font-smoothing-type: lcd;
}
.menu-item:hover {
	-fx-background-color: derive(red, 30%);
	-fx-opacity: 0.9;
	-fx-font-smoothing-type: lcd;
}

.menu:showing {
	-fx-background-color: red;
}
.tab {
	-fx-background-color: whitesmoke;
}
.tab .tab-label {
/*     -fx-skin: "com.sun.javafx.scene.control.skin.LabelSkin"; */
    -fx-alignment: CENTER;
    -fx-font-size: 1em; /* all the same except this newly added one */
    -fx-text-fill: grey;
}

.tab .tab-label:focus {
	-fx-background-color: yellow;
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-focus-color: red;
    -fx-faint-focus-color: transparent;
    -fx-text-fill: white;
}

.table_vbox {
	-fx-border-color: derive(-fx-base, 15%);
	-fx-padding: 3;
	-fx-background-color: -fx-base;
}
.table-view {
	-fx-background-color: #3a3838;
	-fx-background-radius: 0.125em;
	-fx-padding: 0.0625em;

	/* -fx-background-margin: 0; */
	-fx-effect: innershadow(three-pass-box, rgba(77, 76, 76, 0.226), 10, 0, 5, 5);

	/* -fx-border-color: -fx-dark-border-color; */
	/*    -fx-table-header-border-color: cyan;*/
	/*-fx-border-color: red;*/
	/*-fx-border-width: 0.125em;*/
}
.table-view .column-header.table_media .label {
	-fx-background-color: linear-gradient(to bottom, red, orange);
	-fx-text-fill: -fx-light-text-color;
	-fx-alignment: center;
	-fx-font-weight: bold;
}
.table-view .column-header-background {
	-fx-background-color: transparent;
}
.table-view .column-header .label {
	-fx-font-size: 0.75em;
	-fx-font-family: 'Gaduci';
	-fx-text-fill: -fx-light-text-color;
	-fx-alignment: center-left;
	-fx-opacity: 1;
	-fx-padding: 0 0 0 0.0625em;
}
.table-view .column-header,
.table-view .filler {
	-fx-size: 0.75em;
	-fx-border-width: 0 0 1 0;
	/*-fx-background-color: transparent;*/
	-fx-border-color: transparent, transparent, transparent, transparent;
}

.table-view:focused {
	-fx-padding: 0;
	-fx-margin: 0;
}
.table-view:focused .table-row-cell:filled:focused:selected {
	-fx-background-color: #3498bf;
	/* -fx-text-fill: white; */
}

.table-view .scroll-bar:horizontal,
.scroll-bar:vertical {
	-fx-background-color: derive(#444444, 20%);
	-fx-background-radius: 5;
}
.table-view .scroll-bar:horizontal .thumb,
.scroll-bar:vertical .thumb {
	-fx-background-color: derive(darkgray, 20%);
	-fx-background-radius: 0.2em;
}
.text-field-table-cell .text-field {
	-fx-padding: 0;
	-fx-margin: 0;
	-fx-border-color: red;
	-fx-background-color: -fx-base;
	-fx-text-fill: -fx-light-text-color;
}
.table-cell:focused {
/* 	-fx-padding: -0.4em; */
/* 	-fx-border-color: red; */
	-fx-font-size:1em;
}
.table-view .table-cell{
    -fx-font-size:0.8em;  
}
.text-field {
	-fx-background-color: linear-gradient(darkgrey 0%, grey 38%, grey 61%, darkgrey 100%);
	-fx-text-fill: -fx-light-text-color;
	-fx-border-color: rgb(83, 83, 83);
	-fx-border-radius: 0.1875em;
}
.tableTextField {
	-fx-background-color: orange;
	-fx-background-radius: 0.125em;
	-fx-text-fill: black;
	/* -fx-border-color: white; */
	-fx-border-radius: 0.125em;
}
.tableTextField_bad {
	-fx-background-color: pink;
	-fx-background-radius: 0.125em;
	-fx-text-fill: red;
	-fx-border-color: red;
	-fx-border-radius: 0.125em;
}
.textfield-info {
	-fx-background-color: derive(-fx-base, 24%);
	-fx-text-fill: -fx-light-text-color;
}
.topButtons {
	-fx-background-color: -fx-base;
}
.view_btn {
	-fx-background-color: -fx-base, transparent, transparent,
		linear-gradient(derive(#f2bc8d, 40%), derive(#f29f8d, 30%), derive(#f2bc8d, 30%), derive(#f29f8d, 40%));
	-fx-effect: dropshadow(three-pass-box, rgba(254, 255, 172, 0.911), 1, 0, 0, 1);
	/* -fx-background-color: green; */
}

.main {
	-fx-background-color: -fx-base;
}
.showAndHide {
	-fx-background-color: rgb(199, 193, 193);
}
.showAndHide:hover {
	-fx-background-color: rgb(221, 180, 180);
}
.tableCellStatus {
	-fx-background-color: #383d59;
}
.tableCellStatus_DONE {
	-fx-background-color: #def880;
}
.tableCellStatus_READY {
	-fx-background-color: #99aabf;
}
.tableCellStatus_ADD {
	-fx-background-color: #20c7d3;
}
.tableCellStatus_BAD {
	-fx-background-color: #f29f8d;
}
.transparent_btn {
	-fx-background-color: transparent;
}
.transparent_btn:hover {
	-fx-background-color: transparent;
	-fx-border-color: grey;
}

.tooltip {
	-fx-font-size: 0.8125em;
	-fx-background-radius: 2 2 2 2;
}
