.root {
	-fx-primary: #393939;
    -fx-background-color: derive(-fx-primary, 90%);
    -fx-dark-border-color: derive(-fx-primary, 70%);
    -fx-mid-border-color: derive(-fx-primary, 50%);
    -fx-light-border-color: derive(-fx-primary, 10%);

    /* One of these colors will be chosen based upon a ladder calculation
 * that uses the brightness of a background color.  Instead of using these
 * colors directly as -fx-text-fill values, the sections in this file should
 * use a derived color to match the background in use.  See also:
 *
 * -fx-text-base-color for text on top of -fx-base, -fx-color, and -fx-body-color
 * -fx-text-background-color for text on top of -fx-background
 * -fx-text-inner-color for text on top of -fx-control-inner-color
 * -fx-selection-bar-text for text on top of -fx-selection-bar
 */
    -fx-dark-text-color: black;
    -fx-mid-text-color: #aaaaaa;
    -fx-light-text-color: white;

}

.button {
    -fx-background-color: 
        -fx-primary,
        transparent,
        transparent,
        linear-gradient(derive(-fx-primary, 40%), derive(-fx-primary, 30%), derive(-fx-primary, 30%), derive(-fx-primary, 40%));
    /*-fx-background-insets: 2;*/
    /*-fx-background-radius: 2;*/
    /*-fx-border-color: derive(-fx-primary, 80%);*/
    /*-fx-border-radius: 4;*/
    
    -fx-effect: dropshadow( three-pass-box , rgba(217,217,217,0.2) , 1, 0.0 , 0 , 1);
    -fx-font-family: "Gaduci";
    -fx-font-size: 12px;
    /*-fx-insets: 0;*/
    /*-fx-padding: 3;*/
    -fx-text-fill: white;
}
.button:hover {
    -fx-background-color: linear-gradient(to bottom, white, orange);
}

.label {
    /*-fx-background-color:whitesmoke;*/
    /*-fx-border-color: black;*/
    -fx-font-family: Gadius;
    /*-fx-font-size: 15px;*/	
    -fx-text-fill:  -fx-light-text-color;
}
.progress-bar > .track {
	-fx-background-color: yellow;
}
.text-field {
    -fx-font-family: Gadius;
    -fx-background-color: derive(-fx-primary, 40%);
    -fx-text-fill: -fx-light-text-color;
}
.gridpaneStat {
    -fx-padding: 5 5 5 5;
    -fx-background-color: derive(-fx-primary, 50%);
}

