.root {
	-fx-primary:#393939;
    -fx-dark-border-color: darkgrey;
    -fx-mid-border-color: grey;
    -fx-light-border-color: white;

    /* One of these colors will be chosen based upon a ladder calculation
 * that uses the brightness of a background color.  Instead of using these
 * colors directly as -fx-text-fill values, the sections in this file should
 * use a derived color to match the background in use.  See also:
 *
 * -fx-text-base-color for text on top of -fx-base, -fx-color, and -fx-body-color
 * -fx-text-background-color for text on top of -fx-background
 * -fx-text-inner-color for text on top of -fx-control-inner-color
 * -fx-selection-bar-text for text on top of -fx-selection-bar
 */
    -fx-dark-text-color: black;
    -fx-mid-text-color: #292929;
    -fx-light-text-color: white;
    -fx-background-color: -fx-primary;
    /*-fx-padding: 0 3 3 3;*/
    -fx-border-color:  -fx-dark-border-color;

}

.anchor-pane{
    -fx-background-color:  -fx-primary;
}
.button {
    -fx-background-color: 
        grey,
        transparent,
        transparent,
        linear-gradient(darkgrey 0%, grey 38%, grey 61%, darkgrey 100%);
    -fx-background-insets: 1, 2, 1, 2;
    -fx-background-radius: 4;
    -fx-padding: 6;
    -fx-font-family: "Gaduci";
    -fx-font-size: 10px;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
.button:disabled {
    -fx-opacity: 0.1;
    -fx-background-color: grey;
}
.combo-box {
    -fx-background-color: 
        grey,
        transparent,
        transparent,
        linear-gradient(darkgrey 0%, grey 38%, grey 61%, darkgrey 100%);
    -fx-background-insets: 1, 2, 1, 2;
    -fx-background-radius: 4;
    -fx-padding: 6;
    -fx-font-family: "Gaduci";
    -fx-font-size: 10px;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
.fileDate_tf {
    -fx-font-size: 9px;
    -fx-font-smoothing-type: lcd;
    -fx-background-color: grey;
    -fx-border-color: grey;
    -fx-border-radius: 3;
    -fx-text-fill: white;
}
.fileName_ta {
    -fx-background-color: transparent;
    /*-fx-border-color: transparent;*/
    -fx-font-size: 9px;
    -fx-font-smoothing-type: lcd;
    -fx-text-fill: white;   
}
.fileName_ta *.text {
    -fx-text-alignment: left;
}
.fileName_ta .content {
    -fx-background-color: transparent;
}
.grid-pane > * {
    -fx-min-height: 30 ;
}
.imagesContainer {
    -fx-background-color: transparent;
}
.imageFrame {
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-background-color: -fx-primary;
}
.imageNumber {
    -fx-font-family: Gaduci;
    -fx-font-size: 40;
    -fx-fill: white;
    /*-fx-fill: linear-gradient(from 0% 0% to 100% 200%, repeat, aqua 0%, red 50%);*/
    -fx-stroke: grey;
    -fx-stroke-width: 1;
    -fx-font-smoothing-type: lcd;
}
.list-cell:filled:selected:focused, .list-cell:filled:selected {
    /* 3:, 4: */
    -fx-background-color: linear-gradient(#333 0%, #777 25%, #aaa 75%, #eee 100%);
    -fx-text-fill: white; /* 5 */
}
.list-cell { -fx-text-fill: black; /* 5 */ }
.list-cell:filled:hover { 
    -fx-background-color: #00f; /* 2 */
    -fx-text-fill: white; /* 5 */
}
.rootPath {
    -fx-background-color: pink;
}

.jump_Button {
    /*-fx-background-color: blue;*/
    -fx-background-color: linear-gradient(to bottom, blue, white);
    -fx-background-radius: 0 0 0 0;
    -fx-border-color: #555555;
    -fx-border-width: 1px;
    -fx-border-radius: 0 0 0 0;
    -fx-padding: 0 1 0 1;
}

.jump_Button_bad {
    /*-fx-background-color: red;*/
    -fx-background-color: linear-gradient(to bottom, red, white);
    -fx-background-radius: 0 0 0 0;
    -fx-border-width: 1px;
    -fx-border-color: #555555;
    -fx-border-radius: 0 0 0 0;
    -fx-padding: 0 1 0 1;
}
.jump_Button_suggested {
    /*-fx-background-color: transparent;*/
    -fx-background-color: linear-gradient(to bottom, orange, white);
    -fx-background-radius: 0 0 0 0;
    -fx-border-width: 1px;
    -fx-border-color: #555555;
    -fx-border-radius: 0 0 0 0;
    /*-fx-padding: 0 1 0 1;*/
}
.jump_Button_video {
    -fx-background-color: linear-gradient(to bottom, orange, white);
    -fx-background-radius: 0 0 0 0;
    -fx-border-width: 1px;
    -fx-border-color: #555555;
    -fx-border-radius: 0 0 0 0;

}
.jump_Button_good {
    -fx-background-color: linear-gradient(to bottom, green, white);
    -fx-background-radius: 0 0 0 0;
    -fx-border-width: 1px;
    -fx-border-color: #555555;
    -fx-border-radius: 0 0 0 0;

}
.label {
    -fx-text-fill: white;
}
.separator {
    -fx-border-style: solid;
    -fx-border-size: 10px;
    -fx-background-color:  derive(grey, 40%);
}
.separator:vertical .line {
    -fx-background-color: null;
    -fx-padding: 0.0em 0.083333em 0.0em 0.0em; /* 0 1 0 0 */
    -fx-border-color:  transparent derive(-fx-background,-70%) transparent transparent;
}

.scroll-pane {
    -fx-border-color: transparent;
    -fx-background-color: derive(-fx-primary, 20%);
}
.scroll-pane .viewport{
    /*-fx-border-color: #126e6e;*/

    -fx-background-color: derive(-fx-primary, 30%);
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: derive(#444444, 20%);
    -fx-background-radius: 5;
}
.scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: derive(darkgray, 20%);
    -fx-background-radius: 0.2em;
}

.selection {
    -fx-background-color: derive(-fx-primary, 90%);
    /*-fx-border-color:  derive(-fx-primary, 40%);*/
    -fx-border-color: -fx-mid-border-color;
}

.selection_btns {
    -fx-background-color: 
        -fx-primary,
        transparent,
        transparent,
        linear-gradient(derive(-fx-primary, 40%), derive(-fx-primary, 30%), derive(-fx-primary, 30%), derive(-fx-primary, 40%));
    -fx-background-insets: 1 2 1 2;
    -fx-background-radius: 4;
    -fx-padding: 2;
    /*-fx-text-fill: -fx-light-text-color;*/
    /*-fx-effect: dropshadow( three-pass-box , rgba(217,217,217,0.2) , 1, 0.0 , 0 , 1);*/
}
.selection-gridPane {
    /*-fx-background-color: derive(-fx-primary, 10%);*/
    -fx-background-color: red;
    -fx-border-color: #ffffff;
    -fx-border-width: 1px;
    -fx-border-radius: 4;
    -fx-background-radius: 4;
    -fx-background-color: linear-gradient(to bottom, #b5bcc6, #dee3e4);
    -fx-padding: 15;

}
.selection_text {
    -fx-font-size: 10px;
    /*-fx-background-color: cyan;*/
    -fx-text-fill: white;
    -fx-underline: true;   
}

.split-pane{
    -fx-background-color: derive(-fx-primary, 20%);
}

.tab-pane {
    /*-fx-backgound-color: transparent;*/
    -fx-tab-min-width: 90px;
    -fx-tab-min-height: 20px;
    -fx-tab-max-height: 20px;
    -fx-border-color:  -fx-mid-border-color;
    /*-fx-border-color: transparent transparent transparent derive(-fx-primary, 20%);*/
}
.tab-pane .tab-header-area .tab-header-background {
    -fx-opacity: 1;
    -fx-background-color: transparent;
    /*-fx-backgound-color: yellow;*/
}
.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}
.tab-pane .tab:selected {
    -fx-alignment: center;
    -fx-background-color: grey, transparent, derive(orange, 60%);
    -fx-font-family: "Gaduci";
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-insets: 4;
    -fx-text-fill: derive(grey, 60%);
    -fx-padding: 2 1 4 5;
}
.tab:selected .tab-label {
    -fx-alignment: CENTER;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}
.tab-content-area {
    -fx-background-color: #393939;
    -fx-padding: 2 2 2 2;
}
.tab .tab-label {
    -fx-alignment: center;
    -fx-font-family: "Gaduci";
    -fx-font-size: 10px;
    /*-fx-font-weight: none;*/
    -fx-insets: 5;
    -fx-text-fill: black;
}
.menu-button {
     -fx-background-color: 
        grey,
        transparent,
        transparent,
        linear-gradient(darkgrey 0%, grey 38%, grey 61%, darkgrey 100%);
    -fx-background-insets: 1, 2, 1, 2;
    -fx-background-radius: 4;
    /*-fx-padding: 6;*/
    -fx-font-family: "Gaduci";
    -fx-font-size: 10px;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(255,255,255,0.2) , 1, 0.0 , 0 , 1);
}
.list-cell {
    -fx-control-inner-background: derive(-fx-primary, 90%);
    -fx-control-inner-background-alt: derive(-fx-control-inner-background, 50%);
}

.table-view {
    -fx-background-color: #1d1d1d;
    -fx-background-padding: 2;
    -fx-base: #1d1d1d;
    -fx-control-inner-background: #1d1d1d;
    -fx-padding: 5;
    -fx-border-color:  -fx-dark-border-color;
        -fx-table-header-border-color: cyan;
    -fx-border-color: -fx-mid-border-color;
    -fx-border-width: 1px;
}
.table-view .column-header.table_media .label {
    -fx-background-color: linear-gradient(to bottom, red, orange);
    -fx-text-fill: -fx-primary;
    -fx-alignment: center;
    -fx-font-weight: bold;
}
.table-view .column-header-background {
    -fx-background-color: transparent;
}
.table-view .column-header .label {
    -fx-font-size: 8pt;
    -fx-font-family: "Gaduci";
    -fx-text-fill: -fx-light-text-color;
    -fx-alignment: center-left;
    -fx-opacity: 1;
}
.table-view .column-header, .table-view .filler {
    -fx-size: 15;
    -fx-border-width: 0 0 1 0;
    -fx-background-color: transparent;
    -fx-border-color: 
        transparent,
        transparent,
        -fx-light-border-color,
        transparent;
}

.table-view:focused {
    -fx-border-color:  -fx-light-border-color;
    -fx-border-width: 2px;

}
.table-view:focused .table-row-cell:filled:focused:selected {
    -fx-background-color: -fx-focus-color;
}

.table-view .scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color: derive(#444444, 20%);
    -fx-background-radius: 5;
}
.table-view .scroll-bar:horizontal .thumb, .scroll-bar:vertical .thumb {
    -fx-background-color: derive(darkgray, 20%);
    -fx-background-radius: 0.2em;
}
.titled-pane > .title {
    
   -fx-padding: 0 0 0 0;
    -fx-background-color: -fx-primary;
    -fx-text-fill: white;
}
.titled-pane {
    /*-fx-background-color: -fx-primary;*/
    -fx-text-fill: white;
}

.titled-pane > *.content 
{
-fx-background-color:
-fx-box-border,
linear-gradient(to bottom, derive(-fx-color,-02%), derive(-fx-color,65%) 12%,      derive(-fx-color,23%) 88%, derive(-fx-color,50%) 99%, -fx-box-border);
-fx-background-insets: 0, 0 1 1 1;
-fx-padding: 0.167em;
 }
 .titled-pane > .title > .arrow-button .arrow{
    -fx-shape: "";
    -fx-padding: 0;
}
/*.titled-pane > .title > .arrow-button > .arrow{
    -fx-shape: null;
}*/
.topMenu {
    -fx-background-color: derive(-fx-primary, 90%);
    /*-fx-background-color: yellow;*/
    -fx-border-color: white;
}


