/*
 * Empty Stylesheet file.
 */

.root {
    -fx-background-color: whitesmoke;
}


.progress-bar .bar {
    -fx-background-color: derive(red, 50%);

}
.progress-bar .track {
    -fx-background-color: derive(black, 50%);
}

.shadowPane {
    -fx-background-color: darkgrey;
    -fx-effect: dropshadow(gaussian, black, 5, 0, 0, 0);
    -fx-background-insets: 5
}

